<h1>Pokemons</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each pokemons as |pokemon|}}
    <div class="col-2">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{pokemon.name}}</h5>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/{{pokemon.id}}.gif"
            class="img-fluid"
            style="width: 75px;"
          />
          {{!-- <p class="operating-feedback" class="{{#unless pokemon.active}}d-none{{/unless}}">Currently operating</p> --}}
          {{!-- {{#if pokemon.active}}
          <button type="button" id="{{pokemon.id}}" value="disable" class="btn btn-secondary btn-activate-pokemon">Disable pokemon</button>
        {{else}}
          <button type="button" id="{{pokemon.id}}" value="activate" class="btn btn-warning btn-activate-pokemon">Activate pokemon</button>
        {{/if}} --}}
          {{!-- <a
            class="btn btn-primary"
            href="/pokemons/{{pokemon.id}}"
            role="button"
          >Ver más</a> --}}
          {{!-- <button type="button" value="{{pokemon.id}}" class="btn btn-danger btn-delete-pokemon">Delete pokemon</button> --}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/pokemon.js"></script>